<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title><h1>payment method</h1></title>
    <style>
        body{
            background-color: burlywood;
        }
    </style>
</head>
<body>
<center>
<h3>mode of transaction</h3>
<form action="../payment/" method="post">transaction option:
    {% csrf_token %}
<select autofocus name="ram"><h4>choose your transaction option</h4>
<option value="cd" >creditcard</option>
<option value="dc" >debitcard</option>
<option value="nb" >netbanking</option>
<option value="wlt">wallet</option>
</select>
    <input type="submit" value="submit"> <br>
    <p> YOUR ORDER IS FOR {{name}} :<input type= "checkbox" value="{{name}}" name="name" required> </p>
    <p> SELECT AMOUNT OF {{dec}} :<input type= "checkbox" value="{{dec}}" name="price" required> </p>
</form>
    <br><br>
<center>
</body>
</html>